@charset "utf-8";
html,body{
    font-family: 'Noto Sans TC', sans-serif;
}
.top{
    background:#000;
    color:#fff;
    font-size:12px;
    line-height: 25px;
}
.header{
    background:#67057c;
    height: 400px;
    font-size: 14px;
}
.navbar{
    background:	#a50082;
    color:#fff;
    min-height: 20px
}
.navbar ul{
  width:100%;
}
.dropdown-item{
    background:	#a50082;
    color:#fff;
}
#carouselExampleIndicators{
    background:#5F0D68;
}
#carouselExampleControls{
    padding-top: 20px;
}
#myTab{
    background:#fff;
}
a{
    color:#000;
}
.footer{
    background:#2c2c2c;
    font-size:13px;
    line-height: 30px;
}
#bottom{
    height:45px;
    background:#2c2c2c;
    font-size:13px;
    text-align:center;
	  color:#fff;
	  font-weight:100;
}
